body {
  margin: 0;
  padding: 0;
}

#root {
  background: #ffc02a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff722a, #ffc02a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff722a, #ffc02a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navBarImage>img {
  width: 150px;
}

.navTop {
  background-color: transparent !important;
}

.navLink {
  color: #ffffff !important;
}

.navLink.active {
  background-color: #0068ff;
  border-radius: 10px;
}

.headNav {
  display: flex;
  justify-content: flex-end;
}

.info-nav {
  display: flex;
  justify-content: flex-end;
}

/* Main content */
.coverImage {
  background-image: url('https://images.pexels.com/photos/3184292/pexels-photo-3184292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  width: 100%;
  height: 400px;
}

.aboutUsView {
  height: 1000px;
  background-color: white;
}

.textsContainers {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 50px 30px 0 30px;
}

.containerText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-weight: lighter;
  color: grey;
  width: 80%;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.peopleImages {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.imagCard>img {
  width: 200px;
  border-radius: 100px;
}

.linkPolicy {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.linkPolicy>a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modalBodyText {
  font-weight: lighter;
  color: grey;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Footer */
.footerNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navFooter {
  background-color: #0068ff !important;
  color: #ffffff;
}