body {
  margin: 0;
  padding: 0;
}

#root {
  background: #ffc02a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff722a, #ffc02a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff722a, #ffc02a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navBarImage>img {
  width: 150px;
}

.navTop {
  background-color: transparent !important;
}

.navLink {
  color: #ffffff !important;
}

.navLink.active {
  background-color: #0068ff;
  border-radius: 10px;
}

.headNav {
  display: flex;
  justify-content: flex-end;
}

.info-nav {
  display: flex;
  justify-content: flex-end;
}

.dropDownAccount {
  margin-right: 60px;
  border-radius: 10px;
}

/* Main content */
.homeWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.homeWelcome>img {
  width: 300px;
  height: auto;
}

.homeWelcome>p {
  color: white;
  font-weight: bold;
}

.inputGroup {
  display: flex;
  flex-direction: row;
}

.buttonSearch {
  margin-left: 10px;
}


/* Modal Profile */
.modalProfileBody {
  display: flex;
  width: 100%;
}

.modalHeader {
  color: #4d4d4d;
}

.imageProfile>img {
  width: 200px;
}

.imageProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin-top: 20px;
}

.inputsProfileContainer>input {
  margin: 0 5px 20px 0;
}

.inputsProfileGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.inputsProfileGroup>input {
  margin-right: 5px;
}

.buttonProfileContainer {
  margin-top: 40px;
}

.buttonProfileContainer>button {
  width: 150px;
}

/* Modal My Announces */
.cardAnnounceContainer {
  display: flex;
  align-items: center;
}

.infoCardContainer {
  display: flex;
  flex-direction: row;
}

.colImage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.colImage>img {
  min-width: 200px;
  height: auto;
}

.colData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin-left: 10px;
}

.cityName {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.cardTitle {
  color: #4d4d4d;
}

.cardText {
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardRate {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.actionsGroupIcons {
  display: flex;
}

.actionsGroupIcons>img {
  max-width: 20px;
  height: auto;
  margin-right: 10px;
}

.actionsGroupIcons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}


/* Modal References Received */
.referencesTitle {
  color: #4d4d4d;
}

.referenceImage>img {
  max-width: 100px;
}

.referenceData {
  color: #4d4d4d;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.myComment {
  display: flex;
  align-items: center;
}

.modalReferenceContainer {
  display: flex;
  align-items: center;
}

.likesContainer>img {
  width: 50px;
}

.haveReferenceContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  width: 85%;
}

.haveReferenceContainer>p {
  margin: 0 20px 0 0;
}

/* Collapse New Reference */
.collapseReferenceBody {
  display: flex;
  width: 85%;
}

.newReferenceData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newReferenceAdd {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.newReferenceAdd>button {
  width: 150px;
}


/* Responsive */
@media screen and (max-width: 990px) {
  .cardAnnounceContainer {
    display: flex;
    flex-direction: column;
  }

  .colImage>img {
    width: 100px;
  }

  .colData {
    font-size: 12px;
  }

  .myComment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .modalProfileBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoCardContainer {
    display: flex;
    flex-direction: column;
  }

  .haveReferenceContainer {
    display: flex;
    width: 100%;
  }

  .collapseReferenceBody {
    width: 100%;
  }
}


/* Footer */
.footerNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navFooter {
  background-color: #0068ff !important;
  color: #ffffff;
}