<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/announces.css" />
  <title>Service4u</title>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <script type="module" src="main.js"></script>
</head>

<body>
  <div id="root">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navTop">
      <div class="container-fluid">
        <a class="navbar-brand service4uBrand" href="#">service4u</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse headNav" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navLink" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="announcesContainer">
      <div class="announcesView">
        <div class="header">
          <div class="searchButton">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
          <div class="inputContainer">
            <div class="inputGroup">
              <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                aria-describedby="addon-wrapping">
              <select class="form-select" aria-label="Default select example">
                <option selected>Subject</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <input type="text" class="form-control" placeholder="City, suburb or country" aria-label="Username"
                aria-describedby="addon-wrapping">
              <button type="button" class="btn btn-primary">Filter</button>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="announcesCardsContainer">

            <div class="cardsFilters">
              <div class="sorted">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Sorted by</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <div class="addService">
                <p>Add service</p>
                <button type="button" class="btn btn-primary">+</button>
              </div>
            </div>

            <div class="cardsContainer">

              <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="infoCardContainer">
                  <div class="colImage">
                    <img src="../styles/images/Captura.JPG" alt="Announcers">
                  </div>
                  <div class="colData">
                    <div class="cityName">Spreydon, Christchurch</div>
                    <h5 class="card-title cardTitle">ELECTRICIAN Registered</h5>
                    <p class="cardText">Electrician registered with 10 years experience in the Electrical Industry
                      with attention to detail,
                      quality control & price conscious. Visit www.electricad.nz</p>
                    <div class="cardRate">
                      <p class="card-text"><small class="text-muted">94%</small></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="infoCardContainer">
                  <div class="colImage">
                    <img src="../styles/images/Captura.JPG" alt="Announcers">
                  </div>
                  <div class="colData">
                    <div class="cityName">Spreydon, Christchurch</div>
                    <h5 class="card-title cardTitle">ELECTRICIAN Registered</h5>
                    <p class="cardText">Electrician registered with 10 years experience in the Electrical Industry
                      with attention to detail,
                      quality control & price conscious. Visit www.electricad.nz</p>
                    <div class="cardRate">
                      <p class="card-text"><small class="text-muted">94%</small></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="infoCardContainer">
                  <div class="colImage">
                    <img src="../styles/images/Captura.JPG" alt="Announcers">
                  </div>
                  <div class="colData">
                    <div class="cityName">Spreydon, Christchurch</div>
                    <h5 class="card-title cardTitle">ELECTRICIAN Registered</h5>
                    <p class="cardText">Electrician registered with 10 years experience in the Electrical Industry
                      with attention to detail,
                      quality control & price conscious. Visit www.electricad.nz</p>
                    <div class="cardRate">
                      <p class="card-text"><small class="text-muted">94%</small></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="mapContainer">
            <img src="../styles/images/mapa.JPG" alt="Map">
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Announce</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="modalBodyContainer">
                <div class="announceDiv">
                  <div class="textAnnounce">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat.

                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                  <div class="sendMessage">
                    <div class="textareaButton">
                      <div class="textareaContainer">
                        <div class="priceAndReferences">
                          <p>Price $ 37 p/h</p>
                          <p>References (22)</p>
                        </div>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                      </div>
                      <button type="button" class="btn btn-primary buttonSearch">Message</button>
                    </div>

                    <div class="reviewAnnounce">
                      <p>Reviews 92%</p>
                    </div>
                  </div>
                </div>
                <div class="imagesAndMap">
                  <div class="imagesCarrousel">
                    <img src="../styles/images/Captura.JPG" alt="Announcers">
                    <div class="carrouselContainer">
                      <img src="../styles/images/Captura.JPG" alt="Announcers">
                      <img src="../styles/images/Captura.JPG" alt="Announcers">
                      <img src="../styles/images/Captura.JPG" alt="Announcers">
                      <img src="../styles/images/Captura.JPG" alt="Announcers">
                    </div>
                  </div>
                  <div class="modalMap">
                    <img src="../styles/images/mapa.JPG" alt="Map">
                  </div>
                </div>
              </div>
              <div class="commentSection">
                <div class="user">

                </div>
                <div class="user">

                </div>
                <div class="myComment">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>

  <nav class="navbar fixed-bottom navFooter">
    <div class="container-fluid">
      <a class="navbar-brand service4uBrand" href="#">service4u</a>
      <div class="footerNavContainer" id="navbarNav">
        <ul class="footerNav">
          <li class="nav-item">
            <a class="nav-link navLink" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navLink" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navLink" href="#">Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navLink" href="#">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</body>

</html>