<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/contact.css" />
  <title>Service4u</title>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <script type="module" src="main.js"></script>
</head>

<body>
  <div id="root">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navTop">
      <div class="container-fluid navBarImage">
        <img src="../styles/images/LSFullWhite.png" alt="Logo service4u">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse headNav" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link navLink" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="contactUsContainer">
      <div class="contactUsView">
        <div class="formContainer">
          <h3>Service4u</h3>
          <p class="formTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quasi.</p>
          <div class="inputGroup">
            <input type="text" class="form-control" placeholder="Name"
              aria-label="Dollar amount (with dot and two decimal places)">
            <input type="text" class="form-control" placeholder="Email"
              aria-label="Dollar amount (with dot and two decimal places)">
            <input type="text" class="form-control" placeholder="Phone"
              aria-label="Dollar amount (with dot and two decimal places)">
            <input type="text" class="form-control" placeholder="Subject"
              aria-label="Dollar amount (with dot and two decimal places)">
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <button type="button" class="btn btn-primary buttonSearch">Submit</button>
          </div>
        </div>
        <div class="contactContainer">
          <div class="contactInfoContainer">
            <h4><strong>Christchurch</strong></h4>
            <p>Address: 289 Tuam Street, </p>
            <p>Christchurch Central 8011 </p>
            <p>Phone: 09 555 5490</p>
          </div>
          <div class="mapContainer">
            <img
              src="../styles/images/mapa.JPG"
              alt="map">
          </div>

        </div>
      </div>

    </section>


    <nav class="navbar fixed-bottom navFooter">
      <div class="container-fluid footerContainer">
        <img src="../styles/images/LSSmallWhite.png" alt="Logo service4u">
        <div class="footerNavContainer" id="navbarNav">
          <ul class="footerNav">
            <li class="nav-item">
              <a class="nav-link navLink" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Policies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navLink" href="#">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>